
.web-header { /*container buat navbar*/
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 12px 0;
  align-items: center;
}

.navbar {
  width: 90%;
  max-width: 900px; 
  padding: 8px 8px;
  border-radius: 999px;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  

  flex-wrap: wrap;
  

  background-color:var(--color-surface);
  backdrop-filter: blur(10px);
  border-bottom: 4px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.navbar a{
  text-decoration: none;
  color: var(--color-text);
  font-weight: 700;
  white-space: nowrap;
}

.nav-link {
  padding: 8px 16px;
  border-radius: 999px;

  color: var(--color-text);
  text-decoration: none;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

.nav-link.active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.navbar a:hover{
  color: var(--color-border);
}
