/*font*/
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,700;1,700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

body {
  min-height: 100vh;
  background: var(--color-bg);
  background-attachment: fixed;
  color: white;

  display: grid;
  grid-template-rows: auto 1fr auto;

  font-family: 'Google Sans', sans-serif;
  color: white
  
}

body.dark-mode {
  --color-bg: rgb(29, 28, 28);
  --color-text: #ffffff;
  --color-muted: #848181;
  --color-glass: rgba(255, 255, 255, 0.014);
  --color-border: rgba(255, 255, 255, 0.4);
  --color-bg-footer:rgb(29, 28, 28);
}

body.light-mode {
  --color-bg: #f2f2f2;
  --color-text: #111111;
  --color-muted: #555555;
  --color-glass: rgba(255, 255, 255, 0.45);
  --color-border: rgba(0, 0, 0, 0.2);
  --color-bg-footer:rgb(187, 185, 185);
}

footer{
  background-color: var(--color-bg-footer);
}
h1,h2{
  font-family: 'Google Sans', sans-serif;
  font-weight: 700;
  color:var(--color-text);
}
h2{
  margin-top: 15px;
  font-size: 35px;
  text-align:center;
  
}


p{
  margin-top: 15px;
  color:var(--color-muted);
  text-align:center;
}

section {
  min-height: auto;
  background : transparent;
  margin-bottom: 15px;
}

.web-header { /*container buat navbar*/
  top:0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.navbar {
  width: 90%;
  max-width: 900px;
  padding: 16px 32px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 60px;

  background:var(--color-glass);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);
}

.navbar a{
  text-decoration: none;
  color: var(--color-text);
  font-weight: 500;
  white-space: nowrap;
}

.navbar a:hover{
  color: var(--color-muted);
  text-shadow: 0 0 10px var(--color-text);
}

.hero-text{
  margin-top: 10px;
  text-align: center;
}

.hero-text h1{
  font-size: 50px;
}

.hero-text p{
  color: var(--color-muted);
}

.red-dot-up{
  display: block;
  width: 250px;
  transform: translate(-30px, -30px);
}
.red-dot-down{
  position: absolute;
  display: block;
  width: 250px;
  transform: translate(-30px, -33px) scaleY(-1);
}

.skills-section{
  min-height: auto;
 

  display: flex;
  flex-direction: column;
  align-items: center;

  background: transparent;
}

.skills-text{
  text-align:center;
  margin-bottom: 50px;

}
.skills-text h2{
  margin-top: 100px;
  font-size: 35px;
}

.skill-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 46px;
}

.skill{
  height: 30px;
  width: 120px;
  border-radius: 999px;
  color:var(--color-text);

  background: var(--color-glass);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.project-section{
  min-height: auto;
 

  display: flex;
  flex-direction: column;
  align-items: center;

  background: transparent;
}


.cv-section{
  min-height: auto;
 

  display: flex;
  flex-direction: column;
  align-items: center;

  background: transparent;
  
}


.footer-text{
  text-align: center;
}

.footer-text h2{
  font-size: 35px;
}

.footer-container{
  width: 100%;
  
}

.socialIcons{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 15px;

}

.socialIcons a{
  color: var(--color-text);
  padding: 10px;
  font-size: 24px;
  border-radius: 15px;

  background: var(--color-glass);
  backdrop-filter: blur(10px);
  border-top: 1px solid var(--color-border);
  border-left: 1px solid var(--color-border);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socialIcons a:hover{
  color:var(--color-muted);
  text-shadow: 0 0 10px var(--color-muted);
}


